---
layout: default
pagination:
  enabled: true
---
<div class="home">

  <h1 class="w3-panel"><b>POSTS</b></h1>

  <ul class="post-content w3-ul">

    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

        {% for auth in site.authors %}
          {% if post.author == auth.name %}
            {% assign author = auth %}
          {% endif %}
        {% endfor %}

        <h1>
          <b><a class="site-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></b>
        </h1>
        <p class="w3-text-gray"><a class="post-describe" href="{{ post.url | relative_url }}">{{ post.content | strip_html | truncatewords:50 }}</a></p>

        <div class="w3-padding w3-text-grey w3-small">
          <!--<a class="post-meta" href="{{ site.baseurl }}/authors/{{ post.author }}">posted by {{ author.title }}</a>-->
          {% include author_profile.html %}
        </div>


      </li>
    {% endfor %}
  </ul>

  {% if site.pagination.type == 'simple' %}
  	{% include pagination-simple.html %}
  {% elsif site.pagination.type == 'numbering' %}
	  {% include pagination-numbering.html %}
  {% endif %}


</div>
