<a class="post-meta" href="{{ site.baseurl }}/authors/{{ post.author }}">
<div class="w3-bar">

  {% if author.image %}
    <img src="{{site.baseurl}}{{author.image}}" class="w3-bar-item w3-circle" style="width:70px">
  {% else %}
    <img src="{{site.baseurl}}/files/images/default_profile.png" class="w3-bar-item w3-circle" style="width:70px">
  {% endif %}

  <div class="w3-bar-item">
    <span class="w3-large">{{author.title}}</span><br>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <span></span>
  </div>
</div>
</a>
