<a class="post-meta" href="{{ site.baseurl }}/authors/{{ author.name }}">
<div class="w3-bar">

  {% if author.image %}
    <img src="{{site.baseurl}}{{author.image}}" class="w3-bar-item w3-circle" style="width:70px">
  {% else %}
  <i class="fa fa-user fa-4x w3-bar-item w3-circle " aria-hidden="true"> </i>
  {% endif %}

  <div class="w3-bar-item">
    <span class="w3-large w3-text-black">{{author.title}}</span><br>
    <span class="w3-medium w3-text-black">{{author.position}}</span>
  </div>
</div>
</a>
