<header class="site-header" role="banner">
  <!-- Navbar (sit on top) -->

  <!--<div class="w3-top">-->
    <!--<div class="w3-row w3-white w3-padding">-->
      <!--<div class="w3-half" style="margin:4px 0 6px 0"><a href='https://www.w3schools.com'><img src='/images/w3schools.png' alt='W3Schools.com'></a></div>-->
      <!--<div class="w3-half w3-margin-top w3-wide w3-hide-medium w3-hide-small"><div class="w3-right">THE WORLD'S LARGEST WEB DEVELOPER SITE</div></div>-->
    <!--</div>-->
    <!--<div class="w3-bar w3-theme w3-large" style="z-index:4;">-->
      <!--<a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large w3-theme w3-padding-16" href="javascript:void(0)" onclick="w3_open()">☰</a>-->
      <!--<a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_show_nav('menuTut')">TUTORIALS</a>-->
      <!--<a class="w3-bar-item w3-button w3-hide-medium w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_show_nav('menuRef')">REFERENCES</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <a href="#navbar" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium">
        <i class="fa fa-bars"></i>
      </a>

      <a id="logo" class="w3-bar-item w3-button w3-wide w3-large" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <div class="w3-card">
        <form class="w3-bar-item w3-right" action="{{ site.url}}/result/">
          <input type="hidden" name="filter" value="0" />
          <a class="w3-bar-item" href="#search"><i class="fa fa-search" aria-hidden="true"></i></a>
        </form>
      </div>

      <!--<div id="search">-->
        <!--<form action="{{ site.url}}/result/">-->
          <!--<input type="search" id="q" name="q" type="text" placeholder="검색">-->
        <!--</form>-->
      <!--</div>-->


      <div class="w3-hide-small w3-right">
        {% for my_page in site.pages %}
        <!--
          my_page.autogen is populated by the pagination logic for all pages
                          that are automatically created by the gem. Check for non-existence to exclude pagination pages from site.pages iterators
        -->
        {% assign my_page = site.pages | where: "path", path | first %}
        {% assign tag_name = my_page.title | split: ": " %}

        {% if my_page.title and my_page.autogen == nil and tag_name.first != "Posts" and tag_name.first != "Tag" and tag_name.first != "Category" and tag_name.first != site.title and tag_name.first != "검색결과" %}
        <a class="w3-bar-item w3-button w3-wide " href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <!--search bar and button-->

      <!--<form class="w3-bar-item w3-right w3-margin-top" action="{{ site.url}}/result/">-->
        <!--<input class="w3-input w3-bar-item" id="q" name="q" type="text" placeholder="검색">-->
        <!--<input type="hidden" name="filter" value="0" />-->
        <!--<button class="w3-bar-item" style="background-color: white;"><i class="fa fa-search" aria-hidden="true"></i></button>-->
      <!--</form>-->
    </div>


    <div id="searchbar" class="w3-col s12 m12 l12">
      <form action="{{ site.url}}/result/">
        <div class="w3-padding">
        <input class="w3-input w3-border w3-round" type="search" id="q" name="q" type="text" placeholder="검색">
        </div>
      </form>
    </div>

    <div id="mySidebar" class="w3-white w3-col s12 m12 l12 w3-hide-medium w3-hide-large" style="display:none;" >
      <div class="w3-padding">
      {% for my_page in site.pages %}
      <!--
        my_page.autogen is populated by the pagination logic for all pages
                        that are automatically created by the gem. Check for non-existence to exclude pagination pages from site.pages iterators
      -->
      {% assign my_page = site.pages | where: "path", path | first %}
      {% assign tag_name = my_page.title | split: ": " %}

      {% if my_page.title and my_page.autogen == nil and tag_name.first != "Posts" and tag_name.first != "Tag" and tag_name.first != "Category" and tag_name.first != site.title and tag_name.first != "검색결과" %}
      <a class=" w3-bar-item w3-button w3-wide" style="width: 30%;" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>


{% if page.url == "/index.html" %}
<img id="main-image" class="w3-image w3-margin-top w3-margin-bottom" src="https://farm5.staticflickr.com/4732/39212074151_fa3a74e927_b.jpg" alt="Architecture" width="100%">
<div class="w3-display-middle w3-margin-top w3-center">
  <span class=" w3-text-white main-title"><span class="w3-padding w3-black w3-opacity-min"><b>하이브레인넷</b></span> <span class=" w3-text-light-grey">기술 블로그</span></span>
</div>
  {% elsif page.url == "/guestbook/" %}
  <div class="guestbook w3-display-container">
    <div class=" w3-display-middle w3-center">
      <span class=" w3-text-white sub-title"><span class="w3-padding w3-black w3-opacity-min"><b>하이브레인넷</b></span> <span class=" w3-text-light-grey">기술 블로그 방명록</span></span>
    </div>
  </div>
  {% elsif page.url == "/home/" %}
  <div class="main w3-display-container">
    <div class=" w3-display-middle w3-center">
      <span class=" w3-text-white sub-title"><span class="w3-padding w3-black w3-opacity-min"><b>하이브레인넷</b></span> <span class="w3-text-light-grey">기술 블로그</span></span>
    </div>
  </div>
  {% elsif page.url == "/tags/" %}
  <div class="tags w3-display-container">
    <div class=" w3-display-middle w3-center">
      <span class=" w3-text-white sub-title"><span class="w3-padding w3-black w3-opacity-min"><b>하이브레인넷</b></span> <span class=" w3-text-light-grey">기술 블로그 태그</span></span>
    </div>
  </div>
  {% endif %}
</header>
