<!-- 첫번째 페이지 계산 -->
{% if site.pagination.limit != 0 %}
  {% assign temp-page = paginator.page | minus: 1 %}
  {% assign page-set = temp-page | divided_by: 1 %}
  {% assign first = page-set | times: site.pagination.limit | plus: 1 %}
{% else %}
  {% assign first = 1 %}
{% endif %}


<!-- 마지막 페이지 계산 -->
{% if site.pagination.limit != 0 %}

  {% assign temp-last = first| minus: 1 | plus: site.pagination.limit %}
  {% if temp-last <= paginator.total_pages %}
    {% assign last = temp-last %}
  {% else %}
    {% assign last = paginator.total_pages %}
  {% endif %}

{% else %}
{% assign last = paginator.last_page %}
{% endif %}


<!-- 페이지 넘버 링크 생성 (카테고리/태그/일반 별 링크 다름) -->
{% assign tmp_page_path = site.pagination.permalink %}

{% if page.category == nil and page.tag == nil %}
  {% assign page_path = tmp_page_path %}
{% elsif page.category != nil and page.tag == nil %}
  {% assign page_path = tmp_page_path | prepend: site.pagination.cate_link | replace: ":cname", page.category %}

{% elsif page.category == nil and page.tag != nil %}
  {% assign page_path = tmp_page_path | prepend: site.pagination.tag_link | replace: ":tname", page.tag %}
{% endif %}




<paginate>
<div class="pagination w3-bar w3-text-grey">
  {% if paginator.page != 1 %}
    <a class="w3-button" href="{{ site.baseurl }}/{{ paginator.first_page_path }}">&#60;&#60;</a>
  {% else %}
    <span class="previous w3-button">&#60;&#60;</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous w3-button">&#60;</a>
  {% else %}
    <span class="previous w3-button">&#60;</span>
  {% endif %}
  {% for count in (first..last) %}
    {% if count == paginator.page %}
     <li><span class="active w3-button w3-green">{{ count }}</span></li>
    {% else %}
    {%assign ppurl = page.purl | prepend: "/" | append: "/page/" | replace: "//", "/" %}
      {% if count == 1%}
        <li><a class="w3-button" href="{{ site.baseurl }}{{ page_path | replace: "/page/:num", "/" }}">{{ count}}</a></li>
      {% else %}
        <li><a class="w3-button" href="{{ site.baseurl }}{{ page_path | replace: ":num", count }}">{{ count }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next w3-button">&#62;</a>
  {% else %}
    <span class="next w3-button">&#62;</span>
  {% endif %}
  {% if paginator.page != paginator.total_pages %}
    <a class="w3-button" href="{{ site.baseurl }}{{ paginator.last_page_path }}">&#62;&#62;</a>
  {% elsif paginator.pate == paginator.tota_pages %}
    <span class="next w3-button">&#62;&#62;</span>
  {% endif %}
</div>
</paginate>
