<div class="share-page w3-right w3-margin-bottom">
    <a class="w3-button w3-text-white w3-round-large" style="background-color: #1da1f2" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.sns.twitter.username }}&related={{ site.sns.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"><b>트윗</b> </i></a>
    <a class="w3-button w3-text-white w3-round-large" style="background-color: #3b5998" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"> <b>공유하기</b></i></a>
    <a class="w3-button w3-text-white w3-round-large" style="background-color: #dd4b39" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus" aria-hidden="true"> <b>공유하기</b></i></a>
</div>

