---
layout: default
title: Soccer
purl: soccer
pagination:
    enabled: true
    category: soccer
---

<div class="home">

  <h1 class="page-heading">Soccer Posts</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}11233</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% if site.pagetype == 'simple' %}
  	{% include pagination-simple.html %}
  {% elsif site.pagetype == 'numbering' %}
	{% include pagination-numbering.html %}
  {% endif %}


</div>
