---
layout: default
---
<div id="navbar" class="container">
    <h5><a id="link-back" href="{{site.baseurl}}/">Main</a></h5>

</div>

<div id="cover" class="container"
      <div class="w3-bar">
        {% if page.image %}
      <img src="{{site.baseurl}}{{page.image}}" class="w3-bar-item w3-circle" style="width:200px">
      {% else %}
      <img src="{{site.baseurl}}/files/images/default_profile.png" class="w3-bar-item w3-circle" style="width:200px; height:200px">
      {% endif %}
      <div class="w3-bar-item">
        <span class="w3-large">{{ page.title }}</span><br>
      </div>
    </div>


    <ul class="post-list">
      {% for post in site.posts %}

        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

          {% if post.author == page.name %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <span class="post-meta" href="{{ site.baseurl }}/authors/{{ post.author }}">posted by {{ page.title }}</span>
              </h2>
          {% endif %}
        </li>

      {% endfor %}
    </ul>
</div>
