---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>

tag:
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="{{ site.baseurl }}/tags/{{ tag_name }}"><code class=""><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

<br>
category :
<span>[
  {% for category in page.categories %}
    {% capture category_name %}{{ category }}{% endcapture %}
   <a href="{{ site.baseurl }}/category/{{ category_name }}"><code class=""><nobr>{{ category_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include share-page.html %}
  </div>

  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" ></div>

  {% include comments.html %}
</article>
