---
layout: default
pagination:
  enabled: true
---


<h1>tag: {{ page.tag }}</h1>

<div id="archive">
  <ul class="archive-post-list">
  {%for post in paginator.posts %}
      <li><time>{{ post.date | date:"%b %d, %Y" }}</time> » <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% if site.pagination.type == 'simple' %}
  {% include pagination-simple.html %}
{% elsif site.pagination.type == 'numbering' %}
  {% include pagination-numbering.html %}
{% endif %}
