---
layout: default
---
{% for tag in page.tags %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}

<div class="w3-container">
    <div class="w3-content" style="max-width:700px">
        <div class="w3-container w3-padding-48 w3-card">
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
             <a href="{{ tag | first | slugify }}">
                 <span class="w3-large w3-margin-right">{{ tag[0] | replace:'-', ' ' }}</span>
                  <span class="w3-text-gray w3-small">TOTAL</span> <span class="w3-text-black">{{ tag | last | size }}</span><br>
             </a>
            <br>
            {% endfor %}

        </div>


    </div>
</div>